main {
    div{
        width: 80%;
        margin: auto;

        table{
            width: 100%;
            border-collapse: collapse;

            th,td{
                padding: 4px;
                border: 2px solid black;
            }
            td:last-child{
            display: flex;  
            justify-content: center; 
            button{
                margin: 2px;  
                background-color: transparent;
                border: 0.2px solid black;
                padding: 5px;
                border-radius: 5px;       
                }
             }
        }
    }
}
